@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-nav-blue: var(--nav-blue);
  --color-deltarune-yellow: var(--deltarune-yellow);
  --color-deltarune-gray: var(--deltarune-gray);
  --color-deltarune-blue: var(--deltarune-blue);
  --color-deltarune-shadow: var(--deltarune-shadow);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-fade-in-top: fade-in-top 2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  --animate-fade-in: fade-in 1s ease-out forwards;

  @keyframes fade-in-top {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --nav-blue: #342db5;
    --deltarune-yellow: #f9ff10;
    --deltarune-gray: #7f7f7f;
    --deltarune-blue: #0000ff;
    --deltarune-shadow: #0f0f70;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.highlight-yellow {
  color: #f9ff10;
  color: var(--color-deltarune-yellow);
  filter: drop-shadow(1px 1px #4c4c00);
  line-height: 1.2;
  background-image: repeating-linear-gradient(
    to bottom,
    #ffffc3,
    #ffff2c 1em 1.2em
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight-white {
  color: #ffffff;
  filter: drop-shadow(1px 1px var(--color-deltarune-shadow));
}
